<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
</style>
body{
	font-family: 'Open Sans', Sans-Serif;
	padding: 0;
	margin:0;
}

.hero-banner
{
background-color: #007FFF;
height: 90vh;
padding: 50px 20px;
box-sizing: border-box;
position: relative;
overflow: hidden;

}

.wrapper
{
width: 960px;
margin:0 auto;
}

h4
{
font-weight: bold;
font-size: 20px;
}

.hero-banner h4, .hero-banner h4 a
{
	color: white;
	margin:0;
	
}

.hero-banner h1
{
font-size: 50px;
color: white;
margin: 14px 0 20px;
}

.hero-banner h3
{
color: white;
font-size: 30px;
margin:0 0 35px 0 ;
}

a.cta,
button.cta
{
font-size: 30px;
font-weight: bold;
color: white;
background: #007FFF;
display: inline-block;
/*outline: 10px solid */
box-shadow: 0 0 0 10px rgba(0,127,255,0.15);
padding: 20px 30px;
border-radius: 10px;
text-decoration: none;
}

a.cta.alt, 
button.cta.alt
{
background-color: #FFD400;
color:black;
outline-color: rgba(0,0,0,0.15);
}



.character1
{
	background: url(img/circle-guy.png) no-repeat 0 0 ;
	background-size: 100%;
width:363px;
height: 344px;
position: absolute;
top: 10%;
right:20%;
transform: rotate(15deg);
}
.character2
{
	background: url(img/eish-guy.png) no-repeat 0 0 ;
	background-size: 65%;
width:309px;
height: 371px;
position: absolute;
top: 35%;
right:5%;
}

.character3
{
	background: url(img/sticky-guy-1.png) no-repeat 0 0 ;
	background-size: 65%;
width: 297px;
height: 286px;
position: absolute;
bottom: 74px;
right: 25%;

}

nav
{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top:0;
}

nav .logo
{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; 
	top: 50%;
	margin-top:-20px;
	left: 30px;
	background: url(img/logo.png)  no-repeat 0 0 ;
	background-size: 100%;
	overflow:hidden;
	text-indent: -9999px;
}


nav ul
{
	padding: 0;
	margin: 0;
}

nav ul li
{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

nav ul li a
{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color:#111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}


.more-info
{
text-align: center;

}

h2
{
font-weight: 800;
font-size: 50px;

}

p
{
font-weight: bold;
font-size: 30px;
margin: 30px 0;

}

.highlight
{
background-color: #FFADF9;
color: #FF3300;
padding: 10px;
display: inline;
line-height: 50px;
font-weight: 800;
}


