<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
</style>
body{
	font-family: 'Open Sans', Sans-Serif;
	padding: 0;
	margin:0;
}

.hero-banner
{
background-color: #007FFF;
height: 90vh;
padding: 50px 20px;
box-sizing: border-box;
position: relative;
overflow: hidden;

}

.wrapper
{
width: 960px;
margin:0 auto;
}

h4
{
font-weight: bold;
font-size: 20px;
}

.hero-banner h4, .hero-banner h4 a
{
	color: white;
	margin:0;
	
}

.hero-banner h1
{
font-size: 50px;
color: white;
margin: 14px 0 20px;
}

.hero-banner h3
{
color: white;
font-size: 30px;
margin:0 0 35px 0 ;
}

a.cta,
button.cta
{
font-size: 30px;
font-weight: bold;
color: white;
background: #007FFF;
display: inline-block;
/*outline: 10px solid */
box-shadow: 0 0 0 10px rgba(0,127,255,0.15);
padding: 20px 30px;
border-radius: 10px;
text-decoration: none;
cursor: pointer;
outline: none;
border: none;
}

a.cta.alt, 
button.cta.alt
{
background-color: #FFD400;
color:black;
outline-color: rgba(0,0,0,0.15);
}

a.cta:active, 
button.cta:active
{
	opacity: 70%;
}


.character1
{
	background: url(img/circle-guy.png) no-repeat 0 0 ;
	background-size: 100%;
width:363px;
height: 344px;
position: absolute;
top: 10%;
right:20%;
transform: rotate(15deg);
}
.character2
{
	background: url(img/eish-guy.png) no-repeat 0 0 ;
	background-size: 65%;
width:309px;
height: 371px;
position: absolute;
top: 35%;
right:5%;
}

.character3
{
	background: url(img/sticky-guy-1.png) no-repeat 0 0 ;
	background-size: 65%;
width: 297px;
height: 286px;
position: absolute;
bottom: 74px;
right: 25%;

}

nav
{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	z-index: 1;
	top:0;
}

nav .logo
{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; 
	top: 50%;
	margin-top:-20px;
	left: 30px;
	background: url(img/logo.png)  no-repeat 0 0 ;
	background-size: 100%;
	overflow:hidden;
	text-indent: -9999px;
}


nav ul
{
	padding: 0;
	margin: 0;
}

nav ul li
{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

nav ul li a
{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color:#111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}


.more-info
{
text-align: center;

}

h2
{
font-weight: 800;
font-size: 50px;

}

p
{
font-weight: bold;
font-size: 30px;
margin: 30px 0;

}

.highlight
{
background-color: #FFADF9;
color: #FF3300;
padding: 10px;
display: inline;
line-height: 50px;
font-weight: 800;
}

.sep
{
width: 470px;
height: 10px;
background-color: #111111;
margin: 70px auto;

}

.nblist
{
	width: 470px;
	background-color: #EDEDED;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	float: left;
	margin: 0px 20px 20px 0px;
	position: relative;
}

.nblist li
{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	font-weight: bold;
	display: block;
	color:white;
	background-color: #EDEDED;
	margin-bottom: 20px;
	padding: 5px 20px;
	box-sizing: border-box;
}
.nblist li.red 
{
	background-color:#FF3300;
}

.nblist li.blue 
{
	background-color:#007FFF;
}

.nblist li.grey 
{
	background-color:rgb(0,0,0,0.1);
}

.nblist li.pink 
{
	background-color: #FFADF9;
}

.nblist li.yellow 
{
	background-color:#FFD400;
	color: #111111;
}

.nblist li.salmon 
{
	background-color:#FA8072;
}


.story h3
{
	font-size: 40px;
}

.the-gang-image
{
	display:block;
	margin: 0 auto;
}

.nblist li.dragging
{
	position: absolute;
	top: 70px;
	left: 70px;
	right: -30px;
	transform: rotate(6deg);
	box-shadow: 0 2px 14px rgba(0,0,0,0.3);
}

.nblist li.dragging:after
{
	content:"";
	display: block;
	position: absolute;
	width: 54px;
	height: 60px;
	background: url(img/hand.png) no-repeat 0 0 ;
	-webkit-background-size: 100%;
	background-size: 100%;
	bottom: -30px;
	left: 60%;
}
footer
{
	text-align: center;
	color: rgba(0,0,0,0.4);
	font-size: 20px;
	font-weight: bold;
	margin: 85px 0 45px;
}

.popup
{
	display:none;
}